* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* fontes */
    --ff-primary: 'Staatliches', cursive;
    --ff-secondary: 'Palanquin', sans-serif;

    --fc-heading: hsla(0, 0%, 100%, 1);
    --fc-body-dark: hsla(274, 84%, 12%, 1);
    --fc-h2: hsla(232, 17%, 35%, 1);

    --bg-heading: hsla(218, 17%, 62%, 1);
    --bg-h1: hsla(275, 18%, 79%, 1);
    --bg-body: hsla(233, 100%, 97%, 1);

    font-size: 62.5%;
    --fs-heading: 4rem;
    --fs-body: 2rem;
    --fs-h2: 2rem;
}

body {
    font-family: var(--ff-secondary);

    max-width: 39rem;

    margin: 0 auto;

    position: relative;
}

.page {
    background-color: var(--bg-body);
}

header {
    background-color: var(--bg-heading);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header h1 {
    font-family: var(--ff-primary);
    color: var(--fc-heading);
    font-size: var(--fs-heading);
    line-height: 3.4rem;

    background-color: var(--bg-h1);

    width: 100%;
    text-align: center;

    letter-spacing: 0.05em;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

    padding: 0.8rem 8.7rem;
    margin: 3rem 0;
}

header img {
    width: 13.7rem;
    height: 13.7rem;

    margin-top: 3.2rem;

    filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));
}

img {
    width: 100%;
    height: auto;
}

main {
    margin: 1.4rem 3.2rem 0;
    max-width: 39rem;

    padding-bottom: 5rem;
}

main p {
    font-family: var(--ff-secondary);

    font-size: 1.5rem;
    line-height: 1.5rem;

    text-align: center;
    margin-bottom: 6rem;
}

.card {
    position: relative;

    transition: all 200ms;
}

.card + .card {
    margin-top: 3.6rem;
}

.card img {
    border-radius: 20px;

    animation: downtop 700ms forwards;
}

.card:hover {
    transform: scale(1.1);

    opacity: 0.9;

    cursor: pointer;
}

.card h2 {
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;

    background-color: #feeafa;

    color: var(--fc-h2);
    font-size: var(--fs-h2);

    text-align: center;

    border-radius: 20px;

    width: 11.2rem;
    height: 3.5rem;

    opacity: 0;
    animation: topdown 700ms 300ms forwards;
}

@keyframes topdown {
    0% {
        opacity: 0;
        transform: translateY(-15px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes downtop {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }

    30% {
        opacity: 0.3;
        transform: translateY(12px);
    }

    50% {
        opacity: 0.5;
        transform: translateY(9px);
    }

    70% {
        opacity: 0.7;
        transform: translateY(5px);
    }

    90% {
        opacity: 0.9;
        transform: translateY(3px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
